body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.center-text {
  text-align: center;
}

.padding-top-20 {
  padding-top: 20px
}

.image-animation {
  animation: logo-animation 3s ease-out;
  animation-iteration-count: 1;
  pointer-events: none;
}

@keyframes logo-animation {
  from {
    transform: scale(0.6)
  }
  to {
    /* transform: scale(1.2) */
  }
}
